<% include page-head.ejs %>
<body>
<% include nav %>
<main>
    <main>
        <div class="user-details">
            <div class="user-details__image" >
                <img src="<%= userDetail.avatar %>" alt="avatar" height="100px">
            </div>
            <div class="user-details__info">
                <h1><%= user %></h1>
                <p> <span>Email: </span> <%= userDetail.email %></p>
                <p> <span>Phone: </span> <%= userDetail.phone %></p>
                <div class="tabs">
                    <div class="tabs__controls">
                        <span>myRecipes</span>
                        <span>myClasses</span>
                        <span>myRequestsForClasses</span>
                    </div>
                    <div class="tabs__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus illo nesciunt odit optio
                            recusandae repellat, suscipit temporibus! Aut autem consequuntur delectus distinctio earum
                            incidunt inventore laboriosam molestiae natus nesciunt odit perferendis quam quas, quis,
                            ratione similique sit tempora unde velit vitae. Delectus deserunt dolor eaque nemo odio
                            quasi sint tempore.</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</main>
</body>
</html>