<% include page-head.ejs %>
<body>
<% include nav %>
    <main class="sign-form">
        <form action="/signin" method="post" class="auth-form">
            <h1>Sign in</h1>
            <p>
                <input type="text" placeholder="Username" name="username" autocomplete="username" class="form-input">
            </p>
            <p>
                <input type="password" placeholder="Password" name="password" autocomplete="current-password" class="form-input">
            </p>
            <p>
                <input value="Sign in" type="submit" class="bth">
            </p>
        </form>
        <form action="/signup" method="post" class="auth-form">
            <h1>Sign up</h1>
            <p>
                <input type="text" placeholder="Username" name="username" autocomplete="username" class="form-input">
            </p>
            <p>
                <input type="password" placeholder="Password" name="password" autocomplete="current-password" class="form-input">
            </p>
            <p>
                <input type="text" placeholder="Email" name="email" autocomplete="email" class="form-input">
            </p>
            <p>
                <input type="text" placeholder="Phone" name="Phone" autocomplete="Phone" class="form-input">
            </p>
            <p>
                <input value="Create an account" type="submit" class="bth">
            </p>
        </form>
    </main>
</body>
</html>