<% include page-head.ejs %>
<body>
    <main>
        <h1>Auth form</h1>
        <form action="/auth" method="post" class="auth-form">
            <p>
                <input type="text" placeholder="Username" name="username">
            </p>
            <p>
                <input type="password" placeholder="Password" name="password">
            </p>
            <p>
                <input value="Enter" type="submit" class="bth">
            </p>
        </form>
    </main>
</body>
</html>