<% include page-head.ejs %>
<body>
    <% include nav %>
    <main>
        <h1>Booking</h1>
        <div class="order">
            <ul id="order" class="order_entity">
                <% list.forEach(function(item) { %>
                <li class="order_entity__item"><%= item.title %></li>
                <% }); %>
            </ul>
            <div class="order__details">
                <ul class="entity-details">
                    <li>
                        <h3>first</h3>
                        <div>number of empty seats is 3 of 5</div>
                        <div>closest entity date ${new Date} <input value="choose another" type="button" class="bth"></div>
                        <div>
                            <h3>Some desc: </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusantium, alias aspernatur beatae cumque, ducimus ea ipsam,
                                laudantium molestias necessitatibus nobis obcaecati quae quibusdam repellendus reprehenderit sed veniam voluptatibus.
                                Animi ea facere illum, magni minima modi molestiae, nesciunt nobis optio pariatur quaerat quasi,
                                similique tempora velit voluptatem! Iusto soluta vero voluptatem.</p>
                        </div>
                    </li>
                </ul>
                <div class="btn-container">
                    <input value="send" type="button" id="sendOrder" class="bth">
                </div>
            </div>
        </div>
    </main>
</body>
</html>