<% include page-head.ejs %>

<body>
    <% include nav.ejs %>
    <main>
        <h1>Main heading</h1>
        <ul class="main-list">
            <% list.forEach(function(item) { %>
                <li><%= item.name %></li>
            <% }); %>
        </ul>
    </main>
</body>
</html>