<% include page-head.ejs %>

<body>
    <% include nav.ejs %>
    <main>
        <h1>Here you can find all our most delicious recipes</h1>
        <ul class="main-list">
            <% recipes.forEach(function(item) { %>
                <li><a class="main-list__link " href="recipes/<%= item.id %>"><%= item.title %></a></li>
            <% }); %>
        </ul>
    </main>
</body>
</html>