<header>
    <nav>
        <ul class="main-nav">
            <li>
                <a href="/" class="main-nav__link active">
                    <!--<span class="main-nav__icon cake"></span>-->
                    Home
                </a>
            </li>
            <li>
                <a href="/booking" class="main-nav__link">
                    <!--<span class="main-nav__icon baker"></span>-->
                    Booking
                </a>
            </li>
        </ul>
    </nav>
</header>