@mixin list {
  list-style-type: none;
  text-decoration: none;
}
@mixin links {
  color: darken($heading, 10%);
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  line-height: 18px;
}