@import "var";

.order {
  display: flex;
  padding: 10px;
  background: fade-out($base, .9);
  &__details {
    flex: 1;
    padding: 0 20px;
  }
  &_entity {
    list-style-type: none;
    text-align: center;

  }
}

.entity-details {
  list-style-type: none;
  padding-bottom: 20px;

  &__item {
    display: none;
    &.active{
      display: block;
    }
  }
}