@import "var";

.list {
  width: 100px;
  text-align: center;
  ul {
    list-style-type: none;
    padding: 10px;
    background: lighten($green, 10%);
    opacity: .8;
    li {
      padding: 10px;
      background: darken($green, 10%);
      color: #ffffff;
      opacity: 0.8;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;

      }
    }
  }
}