@import "var";

.order {
  display: flex;
  padding: 10px;
  background: fade-out($base, .9);
  &__details {
    flex: 1;
    padding: 0 20px;
  }
  &_entity {
    list-style-type: none;
    opacity: .8;
    text-align: center;
    li {
      padding: 5px 10px;
      background: linear-gradient(to right top, fade-out($base, .9), fade-in($base, .4));
      color: #ffffff;
      opacity: 0.8;
      margin-bottom: 5px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background: linear-gradient(to right top, fade-out($base, .7), fade-in($base, .2));
      }
    }
  }
}
.entity-details {
  list-style-type: none;
  padding-bottom: 20px;
}