* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Kalam', sans-serif;
  background-image: linear-gradient(to right top, #fefedf, #fcf5d1, #fcebc3, #fce1b7, #fdd6ac, #fdcda2, #fdc499, #fdba91, #fbb087, #faa57d, #f89b74, #f6906c);
  color: #fff;
  font-size: 18px;
  min-height: 100vh;
  background-image: url(https://c7.alamy.com/comp/MHTTFX/homemade-raspberry-cakes-on-dark-border-background-free-space-for-your-text-sweet-dessert-made-with-love-MHTTFX.jpg);
  background-attachment: fixed;
  background-size: cover; }

header {
  background: rgba(255, 255, 255, 0.1); }

footer {
  background: rgba(0, 0, 0, 0.1); }

.footer {
  width: 1024px;
  margin: auto;
  padding: 15px; }

a {
  text-decoration: none;
  color: #fff; }

h2 {
  font-size: 36px;
  padding: 0 0 20px 0;
  text-align: center; }

section {
  padding: 100px;
  position: relative;
  background: rgba(255, 255, 255, 0.1); }
  section:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1); }

.section-cnt {
  width: 1024px;
  margin: auto; }

.bth {
  padding: 7px 14px;
  border: 0;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-family: 'Kalam', sans-serif;
  font-size: 16px;
  line-height: 1;
  border-radius: 20px 5px;
  box-shadow: inset -1px -1px 3px 0px #025a02;
  background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.5), rgba(34, 139, 34, 0.8), #025a02); }
  .bth:hover {
    background: linear-gradient(to left bottom, #025a02, rgba(34, 139, 34, 0.8), #025a02);
    box-shadow: inset 0px 0px 4px 4px #025a02; }

.btn-container {
  text-align: center;
  padding-top: 10px; }

.author {
  font: 16px 'Kalam', sans-serif; }

.user-details__info h1 {
  padding: 20px 1px; }

.user-details {
  display: flex;
  margin-top: 50px;
  padding: 50px; }
  .user-details__image img {
    margin: 30px 40px 30px 0; }

.tabs {
  display: flex;
  background: linear-gradient(to right top, rgba(130, 130, 130, 0.1), #828282);
  width: fit-content; }
  .tabs.flex-col {
    flex-direction: column;
    height: fit-content; }
    .tab-wrapper {
      display: flex; }
      .tab-wrapper .tabs__content {
        flex: 1;
        padding: 0 20px; }
  .tabs__item {
    padding: 4px 16px;
    cursor: pointer;
    color: #ffffff; }
    .tabs__item:hover, .tabs__item.active {
      box-shadow: inset 0 0 20px 3px #7d7c7c; }
  .tabs__content {
    padding: 10px; }
    .tabs__content__item {
      display: none; }
      .tabs__content__item.active {
        display: block; }

.tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20px; }
  .tiles__item {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding-top: 250px; }
    .tiles__item--bg {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;
      border-radius: 25px;
      top: 0; }
    .tiles__item--cnt {
      padding: 10px;
      text-align: center; }

.tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px; }
  .tile__name h3 {
    font-weight: bold;
    font-size: 28px; }
  .tile__desc {
    font-weight: bold; }
  .tile__ctrl {
    flex-basis: 100%; }

.hidden-text {
  position: absolute;
  top: 0;
  right: 0; }
  .hidden-text .hiden-content {
    display: none; }
    .hidden-text .hiden-content__control {
      display: block;
      border-left: 15px solid rgba(255, 255, 255, 0.8);
      border-right: 15px solid  transparent;
      border-top: 20px solid transparent;
      border-bottom: 20px solid rgba(255, 255, 255, 0.8);
      position: relative;
      width: auto; }
  .hidden-text.active {
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px; }
    .hidden-text.active .hiden-content {
      display: block; }
      .hidden-text.active .hiden-content__control {
        width: 100%;
        border-color: transparent; }

.popup {
  width: 300px;
  box-shadow: 0 0 10px 5px #22222240;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5); }
  .popup__header, .popup__footer {
    padding: 10px 20px;
    background: rgba(34, 139, 34, 0.7); }
  .popup__body {
    padding: 10px 20px; }
    .popup__body input {
      width: 100%;
      border: 0;
      padding: 5px 10px; }

.order {
  display: flex;
  padding: 10px;
  background: rgba(34, 34, 34, 0.1); }
  .order__details {
    flex: 1;
    padding: 0 20px; }
  .order_entity {
    list-style-type: none;
    text-align: center; }

.entity-details {
  list-style-type: none;
  padding-bottom: 20px; }
  .entity-details__item {
    display: none; }
    .entity-details__item.active {
      display: block; }

.main-nav {
  display: flex;
  padding: 15px;
  list-style-type: none;
  width: 1024px;
  margin: auto; }
  .main-nav li {
    margin-right: 5px; }
    .main-nav li:last-child {
      margin-right: unset;
      margin-left: auto; }
  .main-nav__link {
    color: #4e4646;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    line-height: 18px;
    color: #fff;
    border-radius: 20px 5px; }
    .main-nav__link:hover, .main-nav__link.active {
      background: linear-gradient(to left bottom, rgba(254, 254, 223, 0.4), rgba(254, 254, 223, 0.05)); }

.main-list {
  list-style-type: none;
  text-decoration: none; }
  .main-list__link {
    color: #4e4646;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    line-height: 18px; }

.auth-form {
  padding: 20px; }
  .auth-form .form-input {
    border: 0;
    outline: 0;
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    color: #fff;
    padding: 5px 10px;
    margin: 5px; }
    .auth-form .form-input::placeholder {
      font-family: 'Kalam', sans-serif;
      color: #fff; }
    .auth-form .form-input.bth:hover {
      background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.15)); }

.sign-form {
  display: flex;
  justify-content: space-around;
  width: 1024px;
  margin: 100px auto;
  background: rgba(0, 0, 0, 0.2); }
